.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.backg {
    background: #007bff;
    background-image: url(../../../assets/img/documental1.jpg);
    background-size: cover;
    
    width: 100%;
    height: 400px;
}

p {
    text-align: justify;
}



@media (min-width: 640px) {


 }