<!-- Header - set the background image for the header in the line below -->
<header class="backg py-5 mb-5 bg-image-full">
    <div class="container h-100" id="home">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-2 mb-2 p-5" style="text-shadow:2px 2px 17px #0045a0 ;">Plataforma Documental</h1>
            </div>
        </div>
    </div>
</header>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h2 id="digDocs">Digitalización de documentos</h2>
        <img class="rounded  ml-3 mr-3 mb-3" style="height: 150px; height: 150px;" src="../../../assets/img/gestionDoc.png" />
        <p>Comenzar a trabajar con un sistema de gestión documental significa llevar a cabo la digitalización de documentos en papel. Con la colaboración de un escáner, los documentos físicos se convertirán en versiones digitales que se almacenarán en una
            localización central. Este procedimiento puede ser tedioso y bastante costoso, sin embargo, una digitalización organizada y planificada es primordial para el correcto aprovechamiento del sistema.</p>

        <h2 id="Trabajo-Eficiente" class="mt-5">Flujo de trabajo eficiente</h2>
        <p>
            Gracias a la automatización de las funciones, el sistema proporcionará una imagen global de los procesos de trabajo dentro de la compañía. Este control de procesos permitirá seguir las tareas incompletas, conocer aquellas que ya han finalizado o automatizar
            tareas repetitivas que terminarán ahorrando tiempo a la organización.
        </p>


        <h2 id="seguridad-Info" class="mt-5">Seguridad de la información</h2>
        <img class="rounded  ml-3 mr-3 mb-3" style=" height: 190px;" src="../../../assets/img/digitalizacionDocs.jpg" />
        <p>
            Las empresas que mantienen sus documentos almacenados en ficheros físicos, son propensas a la pérdida o deterioro de archivos; el sistema de gestión documental o DMS (Document Mangnament System) es la solución ideal a este problema. <br> Convirtiendo
            los documentos en papel en copias digitales, el riesgo de pérdida disminuye de forma considerable. De esta forma, la organización trabaja con la certeza de que toda su información está segura ubicada en un mismo sistema, sistema que puede
            incluir entre otras características, la recuperación de datos en caso de desastre.
        </p>


        <h2 id="compartir-Docs" class="mt-5">Compartir documentos</h2>
        <div class="container align-items-center ml-auto"><img class=" ml-3 mr-3 mb-3" style="height: 160px; " src="../../../assets/img/comparitDocs.png" /></div>

        <p>
            Los sistemas de gestión documental facilitan la tarea de compartir documentos a través de grupos o accesos ilimitados a la localización central, dando como opción su distribución de forma interna o externa.
            <br> Los gestores documentales permiten a nuestros proveedores, clientes, y personal de outsourcing, el acceso correspondiente a los documentos solicitados, contando con la debida seguridad de resguardo y manejo de versionamiento.
        </p>


        <h2 id="version-Control" class="mt-5">Control de versiones</h2>
        <p>
            En ocasiones se reporta el haber trabajado con la versión errónea de algún documento, dado que existen documentos realizados por un grupo de trabajo que pueden ser modificado infinidad de veces, resultando complicado el manejo de versiones. En GES, los
            gestores documentales controlan este inconveniente a través de un historial de versiones, mediante los sistemas de gestión documental que te ofrecen la posibilidad de acceder a cualquier versión del texto para recuperar información, eliminarla
            o actualizarla.
        </p>
    </div>
</section>