<header class="bg-image-full py-5 mb-5" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2 p-5">Soporte Técnico</h1>
            </div>
        </div>
    </div>
</header>


<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Soporte Técnico</h1>
        <p class="lead"></p>
        <p>
            Nuestros servicios de soporte técnico especializado proveen asistencia remota y en sitio para la resolución y escalación de casos críticos en su organización.
        </p>
        <h2 class="mt-4">Asistencia Remota</h2>
        <p>
            Definimos asistencia remota como un proceso de soporte remoto o soporte informatico entre dos partes o más. <br> Todo ello través del acceso remoto a los ordenadores empleando una conexión a escritorio remoto.<br> Este servicio es comúnmente
            utilizado para el soporte tecnico, por lo cuál, suele comprenderse en dos partes: el experto y el auxiliado. Sin embargo, este servicio no necesariamente funciona unidireccionalmente y los beneficiarios del mismo pueden ser tanto usuarios
            privados como corporativos.
        </p>
        <p>
            Un programa para asistencia remota es altamente funcional ya que brinda una amplia gama de opciones para desarrollar soluciones mediante el remote computer access. Por ejemplo:
        </p>
        <ol class="circle col-md-8 ml-5">
            <li class="mt-1">Compartir escritorio: establecer una conexión entre dos o más ordenadores y obeservar lo que sucede en el escritorio remoto como si se trabajara físicamente frenta a él.</li>
            <li class="mt-1">Servicio de asistencia remota: apoyar a usuarios por medio de la Web de forma segura y eficiente.</li>
            <li class="mt-1">Online computer support: una ayuda en línea que siempre está presente para solucionar dificultades que presentan algunos ordenadores.</li>
            <li class="mt-1">Control remoto: permite tener manipular un ordenador a través de la Web obteniendo el control del teclado y el mouse.</li>
        </ol>


        <h2 class="mt-4">
            Ventajas del programa para asistencia remota</h2>
        <p>
            Hoy en día la asistencia remota es de suma importancia, ya que se pueden enumerar ventajas muy significativas, por ejemplo:
        </p>
        <ol class="circle col-md-8 ml-5">
            <li>Reduce costos y tiempo requerido a la hora de brindar servicio técnico.</li>
            <li>Establece un sistema de soporte al cliente de forma inmediata y con un costo menor.</li>
            <li>Permite conformar equipos de trabajo a distancia y así cumplir con proyectos asignados.</li>
            <li>Permite compartir información de forma segura y rápida.</li>
        </ol>
        <p>
            En GES, contamos con personal altamente capacitado para desarrollar este tipo de funciones, contamos con la esperiencia necesaria para desempeñar trabajo de asistencia remoto.
            <a routerLink="/contactos">¡Contáctanos!</a>
        </p>
    </div>
</section>