<div class="container-fluid" style="padding: 4rem;" id="home">
    <h1 class="">Nosotros</h1>
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
    <h4>Quienes son GES</h4>
    <div style="display: flex;">
        <div style="width:70%">
            <h4>NOSOTROS SOMOS INGENIEROS ESPECIALISTAS EN SOLUCIONES DE SISTEMAS INFORMATICOS Y A LA MEDIDA SANTIAGO S.A. DE C.V. </h4>
        </div>

        <div>
            <img src="../../../assets/img/logo-master.png" alt="" style="width: 70%;margin-top: -20%; margin-left: 10%;">
        </div>


    </div>

    <p>
        Somos una empresa con mas de 8 años de experiencia en implementar soluciones Integrales de Gobernanza Documental, archivística, instalación y configuración de Administración de contenido, digitalización, programación y Desarrollo web. Desarrollamos Software
        a la Medida para nuestros clientes utilizando la más alta calidad en tecnologías del mercado, aplicando las mejores prácticas gracias a la experiencia y conocimiento certificado de nuestro equipo de trabajo; GES brinda servicios de consultoría
        a Instituciones públicas como Privadas.

    </p>
    <img src="../../../assets/img/nosotros.jpg" style="width: 100%;margin-bottom: 10%;" alt="">


    <h2>Misión, Visión y Valores</h2>
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 1000%;">
    <p> <strong>Misión:</strong> Integrar la mejor solución de gestión de contenidos empresariales o desarrollo de software a la medida, aplicando las mejores practicas, nuestra experiencia, e innovación.
    </p>
    <p> <strong>   Visión: </strong> Posicionarnos como la empresa Mexicana mas innovadora en Soluciones de Contenido Empresarial , que permita el crecimiento y recuperación de la inversión realizada por nuestros clientes.

    </p>
    <br>
    <h3>Valores</h3>
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 1000%;">
    <p> <strong>Valores sociales:</strong> Excelencia, integridad, sustentabilidad y cooperación.
    </p>
    <p> <strong>Valores de servicio a cliente:</strong> Actitud de servicio, respeto y escucha activa.

    </p>


</div>