<div class="backgeneral">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner caru-per mb-5">
            <div class="carousel-item active">
                <img class="d-block w-100 hei" src="../../../assets/img/somos.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <div class="row h-100 align-items-center">
                        <div class="col-lg-12">
                            <h1 class="display-4 text-white mt-5 mb-2" style="text-align: left !important;">¿Quiénes Somos?</h1>
                            <p class="lead mb-5 text-white-50">
                                GLOBAL ETERNAR SOLUTIONS S.A DE C.V (GES)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 hei" src="../../../assets/img/android.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <div class="row h-100 align-items-center">
                        <div class="col-lg-12">
                            <h2 class="mb-3"></h2>

                            <h1 class="display-4 text-white mt-5 mb-2" style="text-align: left !important;">Especialistas en el Desarrollo de Aplicaciones Móviles</h1>
                            <p class="lead mb-1 text-white-50">
                                <li>Aplicaciones nativas. </li>
                                <li> Aplicaciones hibridas.</li>
                                <li>Aplicaciones web con compatibilidad móviles.</li>
                                <li> Aplicaciones for martTV.</li>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 hei" src="../../../assets/img/somos.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <div class="row h-100 align-items-center">
                        <div class="col-lg-12">
                            <h1 class="display-4 text-white mt-5 mb-2" style="text-align: left !important;">Servicios de Soluciones de Contenido</h1>
                            <p class="lead mb-1 text-white-50">
                                Desarrollamos aplicaciones generadoras de resultado para dar atención a las necesidades de Gestión documental de cualquier area de negocio o proceso tales como:
                                <li>Gestión de Contratos Poderes Notariales.
                                </li>

                                <li>Tramites Eléctronicos.
                                </li>
                                <li>Registro y Seguimiento a Litigios Corporativos.
                                </li>
                                <li>Originación de Créditos.
                                </li>
                                <li>Gestión de Expedientes de Siniestros para Aseguradoras.
                                </li>
                                <li>Mejoramiento de Imágenes, reconocimiento de caracteres y detección de Fraudes.
                                </li>
                                <li>Soluciones de generación de Contratos y Formatos corporativos.
                                </li>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Contenido -->
    <div class="container ">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8 mb-5">
                    <h2>¿Quiénes somos?</h2>
                    <hr>
                    <p>
                        Somos una empresa de consultoría comprometida en apoyar y acompañar a nuestros clientes en el logro de sus objetivos de negocio y visualización de ventajas competitivas, a través de soluciones que integran servicios con un enfoque en valor agregado, herramientas,
                        tecnología y metodologías de clase mundial.
                    </p>

                    <p>Desarrollamos Software a la Medida para nuestros clientes aplicando las mejores prácticas gracias a la experiencia y conocimiento certificado de nuestro equipo de trabajo; GES brinda servicios de consultoría a Instituciones públicas
                        como Privadas.
                    </p>
                </div>

                <div class="col-md-4 mb-5">
                    <a routerLink="/contactos" style="color: black; ">
                        <h2>Contáctanos</h2>
                    </a>

                    <hr>
                    <strong>GES</strong>
                    <p>Circuito Circunvalación Oriente 8 , Ciudad Satélite.
                        <br> Naucalpan de Juárez, C.P. 53100
                    </p>
                    <i class="fa fa-phone"></i> 5866093653
                    <br>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <a class="ml-1">contacto@ges.com </a>
                </div>
            </div>
            <!-- /.row -->
            <div class="row mb-5">
                <div class="col-md-12 video">
                    <iframe class="video1" src="https://www.youtube.com/embed/ki7cpFGuqQI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>


            </div>
            <!--  -->
            <div class="row mb-5">

                <div class="col-md-12 mb-5">

                    <p> <b style="font-size:20px;">Misión:</b> Proporcionar servicios especializados en el ámbito de las TI que ayuden a nuestros clientes a solucionar problemas con agilidad proporcionando, un valor a través de altos conocimientos técnicos.
                        Ofrecer soluciones de negocio a través de tecnologías de la información a nuestros clientes.
                    </p>
                    <p> <b style="font-size:20px;">Visión:</b> Ser una organización cuyo máximo capital sean las personas que la integran y los clientes que la respaldan. Ser un aliado estratégico para nuestros clientes basados en soluciones y servicios innovadores
                        sobre la base de nuestra responsabilidad, calidad productividad y compromiso.

                    </p>
                </div>
                <div class="col-md-12 mb-5">
                    <h2>Como lo Hacemos</h2>
                    <div>
                        <div>
                            <li class="query" style="width: 23px; float: left; height:43px ;"></li>
                            <div>Aportando Experiencia de nuestros consultores y Tecnología, mostrando resultados rápidos, fortaleciendo la confianza y creando relación a largo plazo.
                            </div>
                        </div>

                        <li>Compartiendo objetivos con nuestros clientes y logrando que sus ideas sean incorporadas a la solución.
                        </li>
                        <li>Innovando soluciones de vanguardia acorde al entorno actual del país
                        </li>
                        <li>Habilitando soluciones de valor que inciden en mejoras sustanciales en los procesos de negocio de nuestros clientes
                        </li>
                        <li> Proporcionando beneficios tangibles a nuestros clientes mediante la incorporación de metodologías ágiles.
                        </li>
                        <li> Apoyados con tecnologías y arquitecturas de punta disponible la generación de resultados inmediatos.
                        </li>
                    </div>
                </div>
                <div class="col-md-12 mb-4">
                    <h2>Nuestra Evolución</h2>
                    <p>
                        GES es una empresa que se ha estado especializado en la entrega de soluciones de gestión de Contenido, partners de las plataformas documentales lideres en el mercado: Alfresco, Hyland OnBase, Documentum, OpenText, implementamos procesos de negocio integrales
                        en la nube.
                    </p>
                    <p>Es justo la experiencia adquirida a través del desarrollo e  implementación de proyectos complejos, la identificación de mejores prácticas, así como el entendimiento de necesidades de nuestros clientes, nos motivó a replantear soluciones
                        basadas en plataformas en la nube para la nueva era de transformación digital, incorporando nuevos componentes con arquitecturas mas robustas, portables, escalables, fáciles de habilitar y a un menor precio, permitiendo que nuestros
                        clientes solo paguen por lo que usen; facilitando que sus procesos de negocio sean soportados mas eficientemente incrementando la experiencia y satisfacción de sus clientes finales.
                    </p>
                </div>


                <!--   <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="../../../assets//img/card1.jpg" alt="Consultoría">
                    <div class="card-body">
                        <h4 class="card-title">Servicios de consultoría</h4>
                        <p class="card-text">En GES nos caracterizamos por brindar un excelente servicio de
                            consultoría y una amplia gama de servicios a tu disposición.</p>
                    </div>
                    <div class="card-footer">
                        <a [routerLink]="['/consultoria', 'home']" class="btn btn-primary">Ir a Consultoría</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="../../../assets/img/card2.jpeg" alt="Soporte Técnico">
                    <div class="card-body">
                        <h4 class="card-title">Soporte Técnico</h4>
                        <p class="card-text">Contamos con servicios de soporte técnico de forma remota.</p>
                    </div>
                    <div class="card-footer">
                        <a [routerLink]="['/soporte-Tecnico', 'home']" class="btn btn-primary">Ir a Soporte Técnico</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="../../../assets/img/card3.jpeg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Desarrollo de aplicaciones</h4>
                        <p class="card-text">Contamos con las mejores estrategias del mercado para desarrollo de
                            software y brindarte la mejor solución e implementación.</p>
                    </div>
                    <div class="card-footer">
                        <a [routerLink]="['/desarrollo-de-aplicaciones', 'home']" class="btn btn-primary">Ir a
                            Desarrollo de Aplicaciones</a>
                    </div>
                </div>
            </div> -->


                <div class="col-md-12 mb-5">
                    <h2 class="mb-3">Implementaciones Exitosas
                    </h2>
                    <p>
                        <b style="font-size:20px;">Cliente: WALMART</b>
                        <br>
                        <b style="font-size:20px;">Proyecto:  </b> Implementación de Plataforma Documental Corporativa de Grupo Wal-Mart Centro América, para la gestión de Contratos(plantillas), Gestión Cartas de Otorgamiento y Revocación de Poderes,
                        Portal de Legal para la Gestión oportuna de litios Laboral y administrativo con integración a despachos externos, almacenamiento de 20 mil millones de tickets emitidos diariamente por 25,310 puntos de venta.
                    </p>
                    <p>
                        <b style="font-size:20px;">Cliente: CFE</b>
                        <br>
                        <b style="font-size:20px;">  Proyecto:</b> Implementación de la Plataforma Documental Corporativa, e integración de 8 aplicaciones con mas de 5 mil usuarios para las aplicaciones de Contratos, Oficina Digital, Sistema de Control
                        de Gestión, Manejo de Expedientes de Riesgos y Gastos Médicos.

                    </p>
                    <p>
                        <b style="font-size:20px;"> Cliente: Sector Salud</b>
                        <br>
                        <b style="font-size:20px;"> Proyecto: </b> Implementación de Plataforma Documental Institucional en Alta disponibilidad con capacidad de almacenamiento de 300 Millones de Documentos.
                    </p>
                </div>
                <div class="col-md-12 mb-5">
                    <h2>Algunos de Nuestros Clientes..</h2>
                </div>

                <div class="col-md-3 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen1.jpg" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen2.png" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen3.png" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen4.jpg" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen5.png" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen6.png" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen7.jpg" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen8.jpg" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen9.png" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen10.png" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen11.png" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen12.png" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen13.png" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen14.png" alt=""></div>
                <div class="col-md-4 mb-5 container"><img class="img-fliud" src="../../../assets/img/clientes/Imagen15.png" alt="">
                </div>



            </div>
            <!-- /.row -->


        </div>
    </div>
    <!-- /.container -->
</div>