<header class="backg py-5 mb-5 bg-image-full" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-2 mb-2 p-5" style="text-shadow:2px 2px 17px #0045a0 ;">BI(Business Intelligence)</h1>
            </div>
        </div>
    </div>
</header>

<section class="py-2">
    <div class="container">
        <h2>Business Intelligence</h2>
        <p>
            El término Business Intelligence (BI por sus siglas en inglés) hace referencia al uso de estrategias y herramientas que sirven para transformar información en conocimiento, con el objetivo de mejorar el proceso de toma de decisiones en una empresa.
        </p>
        <p>
            Hoy en día, tomar decisiones bien informadas es uno de los principales factores de diferenciación de las empresas.
        </p>
        <p>
            BI hace referecnia al uso que las empresas hacen de los datos y de la información que tienen del mercado, de sus competidores, clientes, proveedores o incluso de sus empleados y de cómo la procesan para poder tomar decisiones bien informadas.
        </p>
        <p>El método BI le permite sacar el mejor provecho de los datos a los cuales tiene acceso la empresa, esta herramienta puede llegar a convertirse en una ventaja competitiva fuerte, ya que proporciona conclusiones robustas para la toma de decisiones
            en torno a la reducción de costos, proyecciones financieras, planeación de ventas, eficiencia en la producción, gestión de inventarios, entre otros.</p>

        <h5>Algunas de las ventajas de inteligencia de negocios son:</h5>

        <img class="rounded float-right mr-5 mb-3" style="height: 150px; height: 150px;" src="../../../assets/img/businessI.png" />
        <ol>
            <li>Permite conocer patrones de comportamiento de los clientes</li>
            <li>Aumenta las ventas</li>
            <li>Reduce los gastos</li>
            <li>Acelera el tiempo de análisis</li>
            <li>Ayuda a establecer metas realistas</li>
            <li>Funciona en la práctica</li>
        </ol>

        <p class="mt-4">En GES contamos con expertos analistas altamente calificados para implementar este método llamado BI en tu negocio o empresa para hacerlo crecer obteniendo una ventaja considerable con base en evalucaión de diferentes escenarios y analisis detallado
            del mercado y clientes. <a [routerLink]="['/contactos', 'contactanos']"> ¡Contactanos! </a> </p>

    </div>
</section>