<!-- Header - set the background image for the header in the line below -->
<header class="backg py-5 mb-5 bg-image-full" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-2 mb-2 p-5" style="text-shadow:2px 2px 17px #0045a0 ;">Content-Management</h1>
            </div>
        </div>
    </div>
</header>

<!-- Content section -->
<section class="py-2">
    <div class="container">
        <h2>Documentum</h2>
        <img class="rounded float-right ml-3 mr-3 mb-3" style="height: 150px; height: 150px;" src="../../../assets/img/gestionDoc.png" />
        <p>
            Documentum centraliza todos los documentos de la compañía en una plataforma en línea:
        </p>

        <ol class="listStyle">
            <li>Documentos electrónicos, e-mail, SMS, fotos, etc.</li>
            <li>Documentos en papel: facturas, contratos, etc.</li>
        </ol>
        <p>
            Todos los documentos están almacenados en Documentum. Una intuitiva plataforma permite un acceso rápido al documento deseado.
            <br> Documentum es accesible a través de todo tipo de medios: computadora, teléfono inteligente, tableta.
        </p>
        <P>
            Documentum facilita la gestión de documentos y se interconecta fácilmente con las diversas herramientas utilizadas internamente:
        </P>
        <ol class="listStyle">
            <li>Los documentos son fácilmente accesibles.</li>
            <li>Los nuevos documentos se sincronizan automáticamente.</li>
            <li>La exportación de documentos es simple de realizar.</li>
            <li>Los datos se pueden archivar automáticamente.</li>
        </ol>
        <p>
            Documentum es una potente herramienta de comunicación como Documentum permite compartir los documentos presentes en la aplicación: con un cliente, un proveedor o un tercero.
        </p>

        <h2 class="mt-5">Alfresco</h2>
        <img class="rounded float-right ml-3 mr-3 mb-3" style="height: 80px; height: 80px;" src="../../../assets/img/alfresco.jpg" />
        <p>
            Alfresco es un sistema de administración de contenidos de código fuente libre.
        </p>
        <p>
            Está diseñado para usuarios que requieren un alto grado de modularidad y rendimiento escalable, desde una PYME hasta una empresa que necesita tenerlo en alta disponibilidad. Alfresco incluye un repositorio de contenidos donde va todo el material aportado
            por los usuarios, un framework de portal web para administrar y usar contenido estándar en portales, una interfaz CIFS que provee compatibilidad de sistemas de archivos en Windows y sistemas operativos tipo Unix, un sistema de administración
            de contenido web, capacidad de virtualizar aplicaciones web y sitios estáticos vía Apache Tomcat, búsquedas vía el motor Apache Solr-Lucene y flujo de trabajo en jBPM.
        </p>

        <h5>Estas son las versiones en las que se distribuye Alfresco:</h5>

        <ol>
            <li> Community Edition: software libre, con licencia LGPL de código abierto</li>
            <li>Enterprise Edition: Se distribuye bajo licencia de código abierta con posibilidad de soporte comercial</li>
            <li> Cloud Edition: versión SaaS</li>
        </ol>

        <h5>Arquitectura de Alfresco:</h5>

        <p>Alfresco es una aplicación Java que se despliega en un servidor J2EE para el almacenamiento de documentos con
             una base de datos, utilizando un repositorio común. El resto de aplicaciones, componentes, y sistemas 
             externos, se conectan al repositorio mediante diversos métodos para intercambiar información. 
             El repositorio es el elemento central sobre el que gira toda la arquitectura y funcionamiento de Alfresco
        </p>

        <h2 class="mt-5">OpenText</h2>

        <img class="rounded float-right ml-3 mr-3 mb-3" style="height: 150px; height: 150px;" src="../../../assets/img/openText.jpg" />

        <p>Representa una solución que te permite trabajar con una gran cantidad de documentación (millones de documentos escaneados, impresos y microfilmados). OpenText ECM es una solución escalable que permite la fácil introducción de nuevos tipos de documentos
            y la adición de nuevos usuarios, así como la expansión y adición de nuevos procesos de trabajo en el sistema.
        </p>
        <p>Algunas de las características de OpenText son:</p>
        <ol>
            <li>•	Incluir módulos para la administración, importación, escaneo y firma digital de documentos, flujo de trabajo avanzado, y creación de informes anticipados.</li>
            <li>El sistema está preparado para una integración total con otras aplicaciones de trabajo estándar (Microsoft Outlook, Microsoft Share Point, Adobe, Microsoft Office Suite, etc.).</li>
            <li>Tiene la capacidad de conectarse fácilmente con otras aplicaciones y sistemas de información personalizados.</li>
        </ol>
        <p>
            Los módulos base de OpenText son:
        </p>
        <ol>
            <li>Módulo de imágenes, que incluye, entre otros componentes, una aplicación de escaneo con módulo de soporte para transporte de documentación asíncrona.</li>
            <li>Business Process Management, que garantiza la implementación de la funcionalidad del flujo de trabajo de los documentos que se procesan.</li>
            <li>Administración y archivado de documentos, que garantiza el almacenamiento seguro y encriptado de los documentos procesados ​​y la facilidad de uso de los documentos por parte de los empleados del banco.</li>
        </ol>
        <p>
            Con OpenText, la empresa puede mejorar la productividad y reducir los costos al tener acceso instantáneo a la documentación organizada, el control de versiones de documentos, la automatización de procesos comerciales y las respuestas rápidas a las solicitudes
            de los clientes.
        </p>
    </div>
</section>