<header class="backg py-5 mb-5" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2 p-5">Desarrollo de Aplicaciones</h1>
            </div>
        </div>
    </div>
</header>

<section class="py-2">
    <div class="container">
        <h2>Desarrollo Java</h2>
        <img class="rounded float-right ml-3 mr-3 mb-3" style="height: 150px; height: 150px;" src="../../../assets/img/java-logo.jpg" />

        <p>
            Java es un lenguaje de programación general, su implementación es ideal para web, servidores, aplicaciones, aplicaciones móviles, etc. También es un lenguaje orientado a objetos y con un fuerte tipado de variables.
        </p>
        <p>
            Se basa en programación orientada a objetivos, permite ejecutar un mismo programa en diversos sistemas operativos y ejecutar el código en sistemas remotos de manera segura.
        </p>
        <p>
            La versión más reciente de Java contiene importantes mejoras para el rendimiento, estabilidad y seguridad de las aplicaciones Java que se ejecutan en su equipo.
        </p>

        <p>
            Una de las principales características por las que Java se ha hecho muy famoso es que es un lenguaje independiente de la plataforma.
        </p>

        <h4 class="mt-4">Algunas de las características de Java son:</h4>
        <div class="mt-4 container">
            <h5>Orientado a objetos</h5>
            <p>El enfoque orientado a objetos (OO) es uno de los estilos de programación más populares. Permite diseñar el software de forma que los distintos tipos de datos que se usen estén unidos a sus operaciones.</p>

            <h5>Es distribuido</h5>
            <p>Java proporciona una gran biblioteca estándar y herramientas para que los programas puedan ser distribuidos.</p>

            <h5>Independiente a la plataforma</h5>
            <p>Esto significa que programas escritos en el lenguaje Java pueden ejecutarse en cualquier tipo de hardware, lo que lo hace portable.</p>

            <h5>Recolector de basura</h5>
            <p>Cuando no hay referencias localizadas a un objeto, el recolector de basura de Java borra dicho objeto, liberando así la memoria que ocupaba. Esto previene posibles fugas de memoria.</p>

            <h5>Es seguro y sólido</h5>
            <p>Proporcionando una plataforma segura para desarrollar y ejecutar aplicaciones que, administra automáticamente la memoria, provee canales de comunicación segura protegiendo la privacidad de los datos y, al tener una sintaxis rigurosa evita
                que se quiebre el código, es decir, no permite la corrupción del mismo.</p>

            <h5>Es multihilo</h5>
            <p>Java logra llevar a cabo varias tareas simultáneamente dentro del mismo programa. Esto permite mejorar el rendimiento y la velocidad de ejecución.</p>
        </div>

        <p>
            Java permite diseñar software que podrá ser ejecutado y distribuido en las diferentes plataformas (MAC, Linux, Windows, etc.), sin la necesidad de modificarlos e incluso sin pensar en la arquitectura de la máquina
        </p>
        <p>
            En GES con tamos con un excelente equipo de desarrolladores Java que garantizan implementar soluciones fluidas y precisas, para más información <a routerLink="/contactos"> ¡Contactanos! </a>
        </p>

    </div>

    <div class="mt-5 container">

        <h2>Desarrollo .NET</h2>
        <img class="rounded float-right ml-3 mr-3 mb-3" style="height: 150px; height: 150px;" src="../../../assets/img/net.png" />

        <p> Es un framework de Microsoft que hace un énfasis en la transparencia de redes, con independencia de plataforma de hardware y que permite un rápido desarrollo de aplicaciones.</p>
        <p>Al igual que Java siendo una plataforma de propósito general, se puede utilizar para realizar tanto desarrollos web, como programas de escritorio o aplicaciones móviles:</p>
        <p>
            Es un entorno de ejecución runtime que administra aplicaciones cuyo destino es .NET Framework. Incorpora Common Language Runtime, que proporciona la administración de la memoria y otros servicios del sistema, y una biblioteca de clases completa, que permite
            a los programadores aprovechar el código estable y fiable de todas las áreas principales del desarrollo de aplicaciones.
        </p>
        <h4 class="mt-4">Algunas de las características de .NET son:</h4>
        <div class="mt-4 container">
            <h5>Administración de la memoria</h5>
            <p>En muchos lenguajes de programación, los programadores son responsables de asignar y liberar memoria y de administrar la vida útil de los objetos. En las aplicaciones de .NET Framework, CLR proporciona estos servicios en nombre de la aplicación.</p>

            <h5>Biblioteca de clases extensa</h5>
            <p>En lugar de tener que escribir cantidades extensas de código para controlar operaciones comunes de programación de bajo nivel, los programadores usan una biblioteca de tipos accesible en todo momento y sus miembros desde la biblioteca de clases
                de .NET Framework.</p>

            <h5>Interoperabilidad de lenguajes</h5>
            <p>Los compiladores de lenguajes cuya plataforma de destino es .NET Framework emiten un código intermedio denominado Lenguaje intermedio común (CIL), que, a su vez, se compila en tiempo de ejecución a través de Common Language Runtime. Con esta
                característica, las rutinas escritas en un lenguaje son accesibles para otros lenguajes, de modo que los programadores puedan centrarse en crear aplicaciones en su lenguaje preferido.</p>

            <h5>Ejecución en paralelo</h5>
            <p> .NET Framework ayuda a resolver conflictos entre versiones y permite que varias versiones de Common Language Runtime coexistan en el mismo equipo. Esto significa que pueden coexistir varias versiones de las aplicaciones, y que una aplicación
                se puede ejecutar en la versión de .NET Framework con la que se compiló. La ejecución en paralelo se aplica a los grupos de la versión de .NET Framework 1.0/1.1, 2.0/3.0/3.5 y 4/4.5.x/4.6.x/4.7.x/4.8.</p>

            <h5>Compatibilidad con múltiples versiones (multi-targeting)</h5>
            <p>Al establecer .NET Standard como destino, los desarrolladores crear bibliotecas de clases que funcionan en varias plataformas de .NET Framework compatibles con esa versión del estándar. Por ejemplo, las bibliotecas que tienen .NET Standard
                2.0 como destino pueden usarlas las aplicaciones que tienen como destino .NET Framework 4.6.1, .NET Core 2.0 y UWP 10.0.16299.</p>

        </div>
        <p>La construcción de aplicaciones usando .NET trae consigo una serie de beneficios:</p>
        <ol>
            <li>Disminuir el tiempo de desarrollo de los proyectos.</li>
            <li>Poder utilizar las numerosas funcionalidades ya diseñadas que permite a los diseñadores realizar un proyecto de importación y adaptación a las necesidades en lugar de un desarrollo desde cero.</li>
            <li>Simplificar el mantenimiento de las aplicaciones desarrolladas en esta plataforma.</li>
        </ol>

    </div>
</section>