footer {
    background-color: #DE6A21;
    color: rgb(225, 229, 235);
    font-family: Arial, Helvetica, sans-serif;
 hr{
     color: rgb(225, 229, 235)
    }

}

.soluciones{

 
    margin: 4px !important;
  
}